.app {
  background-color: #1a8e82;
  min-height: 100%;
  &__container {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
}
