.header {
  height: 64px;
  background-color: #00796B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  &__logo {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
  }
  &__info {
    font-size: 2rem;
    color: #fff;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
